[Unit]
Description=A simple web interface for sending Wake-on-LAN packets
After=network.target

[Service]
Type=simple
Restart=on-failure

# User with which to run the service (only valid when running as a system service)
#User=

# Configure where to bind the application
Environment=HOST=127.0.0.1
Environment=PORT=8387

# Command to run the application
ExecStart=/path/to/node /path/to/simple-wol-server/build/

[Install]
WantedBy=multi-user.target
